#main {
    background-color: rgb(18, 224, 18);
    color: rgb(202, 108, 202);
    font-size: 60px;
}

.recipe {
    background-color: rgb(192, 38, 38);
    color: green;
    font-size: 36px;
    font-family: "Times New Roman", sans-serif;
    font-weight: 600;
    text-align: center;
}

#header {
    background-color: black;
    color: silver;
    font-size: 30;
    font-family: "Times New Roman", sans-serif;
}

.picture {
    height: auto;
    width: 800px;
}

.list {
    background-color: rgb(54, 3, 54);
    color: rgb(247, 186, 112);
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;
    list-style: none;
}